@import './normalize.css';

// header
.zoo-header {
  background-color: #fff;
  box-shadow: 4px 4px 12px #d7dbe0;
  position: fixed;
  top: 0;
  height: 76px;
  width: 100vw;
  z-index: 99;
  &-content {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    height: 76px;
    line-height: 76px;
    a + a {
      margin-left: 10px;
    }
    h1 {
      font-family: "Montserrat";
      margin: 0 20px;
      font-size: 24px;
      line-height: 76px;
      font-weight: normal;
      color: rgba(0,0,0,.85);
      text-shadow: #494a45 1px 2px 4px;
    }
    img {
      margin-top: 8px;
    }
  }
  &-form {
    position: absolute;
    display: flex;
    margin-left: 600px;
  }
  &-tip {
    font-size: 12px;
    line-height: 120px;
    color: #e91e63;
    font-weight: 600;
    font-family: "Montserrat";
    display: none;
    cursor: default;
  }
}

.chose-pets {
  margin-left: 20px;
  display: flex;
  align-items: center;
  div {
    display: flex;
    & + div {
      margin-left: 10px;
    }
  }
}

.goto {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border: 1px solid red;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, red, yellow, lime, aqua, blue, fuchsia);
  animation: hue 4s linear infinite;
  font-family: "Montserrat";
}

.goto:hover {
  animation-play-state: paused;
}

@keyframes hue {
  from { filter: hue-rotate(0deg); }
  to { filter: hue-rotate(360deg); }
}

// main
.zoo-main {
  width: 100%;
  margin-top: 84px;
  height: calc(100vh - 84px);
  position: absolute;
  display: flex;
  justify-content: center;
  &-content {
    margin: 0 20px;
    width: calc(100% - 40px);
    max-width: 1024px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, 160px);
    grid-gap: 10px;
  }
  &-card {
    width: 160px;
    height: 200px;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #fff;
    transition: all 0.3s;
    cursor: pointer;
    margin-top: 10px;
    &:hover {
      box-shadow: 0 1px 2px -2px rgba(0,0,0,.16), 0 3px 6px 0 rgba(0,0,0,.12), 0 5px 12px 4px rgba(0,0,0,.09);
    }
    &:last-child {
      margin-bottom: 40px;
    }
    &-chose {
      border-color: #26A699;
      box-shadow: 0 1px 2px -2px #26a69991, 0 3px 6px 0 #26a69945, 0 5px 12px 4px #26a69945 !important;
    }
  }
}

// card
.card {
  &-img {
    margin: 20px auto;
    display: flex;
    justify-content: center;
  }
  &-text {
    font-family: "Montserrat";
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .zoo-header-form {
    display: none;
  }

  .zoo-header-tip {
    display: block;
    position: absolute;
    right: 30px;
  }

  .chose-pets {
    display: none;
  }
}

@media (max-width: 1190px) and (min-width: 1025px) {
  .goto {
    top: 80px;
  }
}

:root {
  --q-color-negative: #e91e63;
}
